<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <label>Choose Option Here</label>
    <select v-model="mode">
      <option value="1" >One</option>
      <option value="2" >Two</option>
      <option value="3" >Three</option>

    </select>

    <p v-show="mode == 1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, laboriosam?</p>
    <p v-if="mode == 1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas veniam veritatis voluptate
      neque animi alias
      molestias obcaecati, blanditiis, recusandae aut sapiente possimus reprehenderit aliquam dolorem sint iusto tempora
      quam nostrum.</p>

    <p v-else-if="mode == 2">Lorem, ipsum.</p>

    <p v-else="mode == 1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab officia, molestias quae sequi
      atque quod quidem, delectus eum aspernatur consequatur nisi velit, vel vero asperiores voluptas esse praesentium?
      Architecto maxime optio quos numquam, deleniti delectus earum corrupti dolorum aut voluptatibus eligendi! Ratione,
      quo. Ab, deserunt minima. Exercitationem eaque autem fuga placeat voluptate ex eius dolore distinctio numquam
      minima officia quidem debitis, labore consequatur deleniti tenetur est fugiat beatae repellendus optio accusantium
      modi odit eum. Aliquid aut, rerum nesciunt quisquam quia magni temporibus amet eius sapiente incidunt cum ab odit
      soluta quod voluptate. Consequuntur provident et, sed minus non perferendis. Cupiditate quibusdam beatae maxime
      earum corporis autem recusandae tenetur. Corporis autem ducimus facere eveniet quis cupiditate? Ut repellendus
      quos assumenda ex suscipit nihil error rerum aliquid aut quisquam tempore doloremque nam beatae consequatur,
      mollitia hic eligendi! Saepe nostrum totam velit deleniti expedita ad, earum doloremque laborum ipsum numquam
      molestias odio, est quae repellat explicabo maiores adipisci omnis ut minima? Excepturi suscipit necessitatibus
      dicta eligendi aliquid totam neque repellat est rem. Nihil non reprehenderit laudantium natus beatae, maxime
      praesentium ullam minus, ratione accusantium obcaecati ipsa culpa, quis adipisci recusandae hic qui iure debitis
      quisquam voluptate dignissimos porro magni blanditiis molestiae. Fugit quam vero pariatur atque deserunt
      inventore. Odit sint quae asperiores consequatur molestias animi, eius recusandae omnis autem hic assumenda sit
      fuga! Ut, id dignissimos. Molestias, odit temporibus. Fugiat, delectus omnis. Asperiores, laboriosam. Nemo ducimus
      sint esse a suscipit cumque, repellat nisi fugiat hic ut error eum necessitatibus sed optio obcaecati natus
      consectetur beatae! Voluptatem iure, maxime atque hic delectus aperiam, at ea soluta repellat eveniet, consectetur
      totam magni id. Magni, tenetur. Iste nisi necessitatibus id exercitationem quisquam velit neque eos doloribus
      voluptates blanditiis tempore aperiam, dicta libero in harum at asperiores cupiditate ratione accusamus provident
      facilis architecto! Nostrum suscipit perferendis dolorem cum aspernatur fugiat. Pariatur, voluptatibus omnis
      dolorum, impedit sapiente nam odio error repellendus facere accusantium unde facilis, ut dolore a eos iste beatae
      nesciunt. Ratione blanditiis optio quasi, at, id odio dolore, recusandae libero et delectus veniam eaque aliquid
      tempora fugit unde possimus alias eum modi excepturi vitae nisi quidem eligendi. Obcaecati debitis hic earum
      laboriosam laborum fugit, nulla ab soluta ad quas vero voluptatibus. Fugit ullam animi non! Dolorum, placeat,
      dolore, deserunt recusandae aliquam cupiditate nam sapiente voluptatum quis incidunt quo cumque inventore
      reprehenderit ducimus amet velit esse! Et eius excepturi culpa quam est iste blanditiis non necessitatibus
      expedita sit nemo officia fuga voluptates rem voluptatibus impedit voluptatum, quod eum! Excepturi, sint deserunt
      nostrum adipisci architecto eligendi omnis repudiandae nam accusamus exercitationem aut magnam vero repellat
      quaerat eveniet tenetur, ab quod ut deleniti accusantium. Cum maxime nobis illum vel expedita consequatur dicta
      rem, minima sit, molestias libero numquam dolor illo omnis quia incidunt fugiat suscipit quam harum adipisci
      voluptate impedit. Repellendus porro ratione, impedit rerum dolores iusto sunt praesentium, deserunt sequi error
      fuga labore sit? Exercitationem consequuntur perferendis aspernatur fuga vel eos, magnam quia delectus possimus,
      in, a totam dolore. Rem ad, odio id sit quis sint quae commodi dicta. Atque eveniet obcaecati optio aliquam,
      tempore consequuntur deserunt dolorem quisquam nam, illo error dolores eos eius maiores itaque perferendis
      laboriosam aperiam, alias molestias dolore omnis suscipit sint repudiandae! Sit id aut enim ipsa magnam, maiores
      similique neque sequi quia ipsam! Repellendus, temporibus. Vel voluptas, fugiat quisquam assumenda quaerat odio
      eaque! Natus recusandae magni, autem unde accusantium deserunt obcaecati repudiandae corrupti suscipit voluptates
      eius aspernatur eligendi expedita fuga neque! Dignissimos error placeat itaque voluptatibus assumenda expedita
      cumque. Exercitationem dicta voluptatem est non, modi, earum fugiat eos illo officiis quam, tenetur qui iusto
      fugit nisi a dolorem numquam velit culpa totam voluptatum labore! Asperiores minus tenetur mollitia dolores
      inventore sint autem, deleniti consectetur, molestiae non et eaque temporibus nemo quidem soluta quos expedita
      praesentium voluptatibus delectus velit ea a tempore. Repellendus fuga a laboriosam aspernatur doloribus rerum
      cumque non, eum vitae dolores numquam quos laudantium aperiam dolorum ab repellat. Praesentium nam, quos quia sunt
      sed alias esse, quae aliquam ipsam voluptates quisquam expedita. Deleniti, dolore cupiditate repellendus sapiente
      quaerat laudantium quisquam necessitatibus, praesentium, corrupti tempore autem culpa sint nesciunt assumenda
      blanditiis cumque eum asperiores error! Aspernatur esse numquam sit? Delectus unde obcaecati esse molestiae magni
      culpa ducimus officia, aliquid expedita enim vitae adipisci aspernatur, labore ratione aut tempore voluptatem
      nostrum optio praesentium repudiandae animi ex! Obcaecati, ipsam, alias suscipit nisi facilis sint quod ea ducimus
      aut numquam, harum itaque corporis. Neque aliquam itaque sapiente adipisci reiciendis voluptatem rerum.
      Dignissimos reprehenderit dolorum aut magni odio ullam, repudiandae facere rerum minus. Nemo voluptatem, ratione
      dicta laborum debitis vero consequatur illo sapiente, sequi, saepe dolorum recusandae aspernatur. Quaerat odio
      laborum fugit. Earum, illo eos? Consectetur asperiores reprehenderit culpa ducimus, dolorum blanditiis iusto,
      dolor saepe unde modi deleniti soluta vel et quisquam laudantium natus repellendus! Repudiandae excepturi
      voluptatem nostrum! Commodi totam vitae iusto nam nisi porro alias aut delectus dolore cumque, at exercitationem
      repellendus, excepturi dolores consequuntur quod et minus, quibusdam laboriosam dignissimos reiciendis
      voluptatibus iure temporibus provident. Totam excepturi aliquid necessitatibus fugiat iure soluta quisquam unde
      corporis cumque rerum reprehenderit autem natus veritatis debitis ducimus a, accusantium culpa odit quidem, iste,
      tempore voluptatum voluptatem consequatur atque. Et facere dolorum cum ratione. Facere repudiandae mollitia
      voluptatem nemo deserunt aliquam quam. Illum provident libero mollitia cumque explicabo corrupti eum obcaecati
      sit. Et cum assumenda tempora odit qui earum natus dicta architecto expedita vero ratione laborum dignissimos
      dolore hic, eveniet voluptate nobis, voluptatum doloremque tenetur quibusdam quo! Nostrum quos alias fugit
      asperiores inventore cum suscipit minus sint, dignissimos, sequi dolorum est magni facilis, nobis unde error a
      necessitatibus distinctio. Maxime suscipit ab, fuga voluptate repudiandae ipsam architecto, aliquid deserunt sint
      blanditiis nobis beatae tenetur laboriosam delectus impedit alias quaerat et esse? Fugiat mollitia vero, deserunt
      nemo rem consectetur labore accusantium necessitatibus ipsum fuga nobis fugit maxime iure cum asperiores, quia
      laboriosam! Dolores beatae error labore nam rem inventore quisquam sed illum ipsum, adipisci voluptas corporis est
      accusamus soluta distinctio iste, velit temporibus? Soluta laudantium aut explicabo quos, mollitia ab, dicta
      veniam sint minima inventore placeat maxime in.</p>


  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>